<?php

return [
	'directory' => '/some/dir/path/root/to-scan-example',
	'cycles' =>	[
		[
			'pattern' => ' | grep "www\." | grep -v "w3.org" | grep -v "php.net"',
			'exclude' => [
				'/some/dir/exclude/example.php',
				'/some/dir/exclude/example2.php',
			],
		],
		[
			'pattern' => ' | grep "https\." | grep -v "w3.org" | grep -v "php.net"',
			'exclude' => [
				'/some/dir/exclude/example.php',
				'/some/dir/exclude/example2.php',
			],
		],
	],
];